<br/>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-2 col-xl-2 bd-sidebar">
    </div>
    <main class="col-12 col-md-8 col-xl-8 bd-content">
      <div class="card-columns">
          <% current_user.groups.each do |group| %>
              <%= link_to(group, style: 'color: inherit') do %>
                <div class="card">
                  <div class="card-header">
                    <strong><%= truncate(group.name, length: 50) %></strong>                    
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <%= truncate(group.description, length: 200) %>
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        <%= pluralize(group.users.count, 'member') %>,
                        <%= pluralize(group.upcoming_events.count, 'upcoming event') %>
                      </small>
                    </p>
                    <hr/>
                    <span class="badge badge-primary float-right"><%= group.category.name %></span>
                  </div>
                </div>
              <% end %>
          <% end %>
      </div>
    </main>
    <div class="col-12 col-md-2 col-xl-2 bd-sidebar">
      <%= link_to 'Create A Group', new_group_path, class: 'btn btn-primary' %>
    </div>
</div>











<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Is public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to group do %>
            <div class="card text-dark bg-light mb-3 w-75">
              <div class="card-body">
                <h5 class="card-title"><%= group.name %></h5>
                <p class="card-text"><%= group.description %></p>
                <p class="card-text"> category: <%=category_label group.category %> </p>
              </div>
            </div>
          <% end %>
        </td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= category_label group.category %></td>
        <td><%= group.is_public %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
-->
<br>
