<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(event.errors.count, "error") %> occurred:</b>
      <ul style="margin: 0">
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name:", class: "control-label" %>
    <div>
      <%= form.text_field :name, id: :event_name, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description:", class: "control-label" %>
    <div>
      <%= form.text_area :description, id: :event_description, class: "form-control", rows:5 %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :times, "Times:", class: "control-label" %>
    <div>
      <%= form.text_field :times, {id: :event_times, class: 'daterange form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :location, "Location:", class: "control-label" %>
    <div>
      <%= form.text_area :location, id: :event_location, class: "form-control", rows:5 %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= form.check_box :is_viewable, id: :event_is_viewable %>
      <%= form.label :is_viewable, "Is Publicly Visible?", class: "control-label" %>
    </div>
  </div>

  <%= form.hidden_field :group_id, value: event.group.id %>

  <div class="form-group">
      <%= form.submit nil, class: 'btn btn-lg btn-primary' %>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $('.daterange').daterangepicker({
      timePicker: true,
      startDate: moment('<%= event.start_time.to_s %>'),
      endDate: moment('<%= event.end_time.to_s %>'),
      locale: {
        format: 'M/DD/YYYY hh:mm A'
      }
    });
  });
</script>
