<% if events.each do |event| %>
  <p>
    <%= link_to event do %>
      <div class="card object-color text-black card-link">
        <div class="card-body">
          <h3 class="card-title">
            <%= event.name %>
          </h3>
      
          <h5 class="card-subtitle mb-2 text-muted">
            Description:
            <%= event.description %>
          </h5>
        
          <p class="card-text bg-white text-dark h-100 p-3">
            <b><i>When?</i></b><br>
            <%= event.start_time %><br>
            <b><i>Where?</i></b><br>
            <%= event.location %><br>
            <b><i>Publicly Visible?</i></b><br>
            <%= event.is_viewable %><br> <!-- How can we make this a condition? i.e if true then say "Yes" ??? -->
            <b><i>Group:</i></b><br>
            <%= link_to event.group.name, event.group %><br>

          </p>
        </div>
      </div>
    <% end %>
  </p>            
<% end.empty? %>
  No events found.
<% end %>