<!DOCTYPE html>
<html>

  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  <style>
  .img-circular{
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
    border-radius: 50%;
  }
  </style>

  <style>
    .right1 {
      position: absolute;
      right: 0px;
      width: 280px;
    }
  </style>

  <style>
    .right2 {
      position: absolute;
      right: 0px;
      width: 150px;
    }
  </style>

  <style>
    .right3 {
      position: absolute;
      right: 0px;
      width: 100px;
    }
  </style>

  <style>
    .right4 {
      position: absolute;
      right: 0px;
      width: 12.5%;
    }
  </style>


  <style>
    .in {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  </style>


  <head>
    <title>Chrono</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bottom-line">
    
      <%=image_tag "chrono png.png", class:'nav-logo navbar-brand', alt: "Brand"%>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Home', home_path, class:"btn btn-outline-success mr-sm-2 nav-button" %><span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <%= link_to 'My Groups', groups_path, class:"btn btn-outline-success mr-sm-2 nav-button" %>
          </li>

          <li class="nav-item">
            <%= link_to 'My Events', events_path, class:"btn btn-outline-success mr-sm-2 nav-button" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Explore', explore_path, class:"btn btn-outline-success mr-sm-2 nav-button" %>
          </li>
          
          <!--
          <li class="nav-item">
            <%= link_to 'About', about_path, class:"btn btn-outline-success mr-sm-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Terms', terms_path, class:"btn btn-outline-success mr-sm-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Help', help_path, class:"btn btn-outline-success mr-sm-2" %>
          </li>
          -->
          
        </ul>

        <!-- TODO: This should be formatted nicely and moved somewhere! -->
        <% if flash[:alert] %>
          <b>Alert:</b> <%= flash[:alert] %>
        <% end %>
        <% if flash[:notice] %>
          <b>Notice:</b> <%= flash[:notice] %>
        <% end %>




          <% if logged_in? %>
          <div class="right1" class="in">
            Hi, <%= current_user.name %>!
          </div>
          <div class="right2" class="in">
            <%= image_tag current_user.avatar_url,:class=> "img-circular"%>
          </div>
          <div class="right3" class="in">
            <%= button_to 'Sign Out', logout_path, method: :delete %>
          </div>

          <% else %>
          <div class= "right4" class="in" >
            <%= google_sign_in_button 'Sign In With Google', proceed_to: create_login_path %>
          </div>
          <% end %>




      </div>
      
    </nav>
    
    <div class="container">
      <%= yield %>
    </div>
  
  </body>
</html>